<!-- Toolbar -->
<div class="toolbar" role="banner">
  <img width="80" alt="Angular Logo"
    src="./../assets/EDF_logo.png" />
  <span>Welcome to EDF-Trading</span>
  <div class="spacer"></div>
</div>
<!--End ToolBar-->
<div class="content" role="main">
 <kendo-grid
            [kendoGridBinding]="userArray"
            [columnMenu]="true"
            [filterable]="true"
            [height]="600"
        >
        <kendo-grid-column field="FirstOrderedOn" format="{0:d}" width="300" title="Date">
          <ng-template kendoGridFilterCellTemplate let-filter>
              <date-range-filter-cell
                  class="date-range-filter"
                  [showOperators]="false"
                  [filter]="filter"
                  field="FirstOrderedOn">
              </date-range-filter-cell>
          </ng-template>
      </kendo-grid-column>
        <kendo-grid-column field="be" title="Belgium" width="120" filterable="false">
          <ng-template kendoGridFilterCellTemplate let-filter let-column="column" editable="false">
            <kendo-grid-string-filter-cell
                [showOperators]="false"
                [column]="column"
                >
            </kendo-grid-string-filter-cell>
            </ng-template>
        </kendo-grid-column>
        <kendo-grid-column field="ch" title="Switzerland" width="120">
          <ng-template kendoGridFilterCellTemplate let-filter let-column="column">
            <kendo-grid-string-filter-cell
                [showOperators]="false"
                [column]="column">
            </kendo-grid-string-filter-cell>
            </ng-template>
        </kendo-grid-column>
        <kendo-grid-column field="cz" title="Czech Republic" width="120">
          <ng-template kendoGridFilterCellTemplate let-filter let-column="column">
            <kendo-grid-string-filter-cell
                [showOperators]="false"
                [column]="column">
            </kendo-grid-string-filter-cell>
            </ng-template>
        </kendo-grid-column>
        <kendo-grid-column field="de_at" title="Germany-Austria" width="120">
          <ng-template kendoGridFilterCellTemplate let-filter let-column="column">
            <kendo-grid-string-filter-cell
                [showOperators]="false"
                [column]="column">
            </kendo-grid-string-filter-cell>
            </ng-template>
        </kendo-grid-column>
        <kendo-grid-column field="dk1" title="Denmark1" width="120">
          <ng-template kendoGridFilterCellTemplate let-filter let-column="column">
            <kendo-grid-string-filter-cell
                [showOperators]="false"
                [column]="column">
            </kendo-grid-string-filter-cell>
            </ng-template>
        </kendo-grid-column>
         <kendo-grid-column field="dk2" title="Denmark2" width="120">
          <ng-template kendoGridFilterCellTemplate let-filter let-column="column">
            <kendo-grid-string-filter-cell
                [showOperators]="false"
                [column]="column">
            </kendo-grid-string-filter-cell>
            </ng-template>
        </kendo-grid-column>
        <kendo-grid-column field="es" title="Spain" width="120">
          <ng-template kendoGridFilterCellTemplate let-filter let-column="column">
            <kendo-grid-string-filter-cell
                [showOperators]="false"
                [column]="column">
            </kendo-grid-string-filter-cell>
            </ng-template>
        </kendo-grid-column>
        <kendo-grid-column field="fr" title="France" width="120">
          <ng-template kendoGridFilterCellTemplate let-filter let-column="column">
            <kendo-grid-string-filter-cell
                [showOperators]="false"
                [column]="column">
            </kendo-grid-string-filter-cell>
            </ng-template>
        </kendo-grid-column>
        <kendo-grid-column field="nl" title="Netherland" width="120">
          <ng-template kendoGridFilterCellTemplate let-filter let-column="column">
            <kendo-grid-string-filter-cell
                [showOperators]="false"
                [column]="column">
            </kendo-grid-string-filter-cell>
            </ng-template>
        </kendo-grid-column> 
    </kendo-grid>

</div>